
<div class=" no-pad-bot" id="index-banner">
  <div class="slider">
  <ul class="slides">
    <li>
      <img src="images/c1.jpg">
      <div class="caption center-align">
        <h3 class="light blue-text text-darken-3">Find a care professional</h3>
        <h5 class="light blue-text text-darken-3">Find someone that suits your needs.</h5>
      </div>
    </li>
    <li>
      <img src="images/c2.jpg"> 
      <div class="caption center-align">
        <h3 class="light white-text">Schedule an appointment</h3>
        <h5 class="light white-text">Just fill in the info and click on confirm. As simple as that.</h5>
      </div>
    </li>
    <li>
      <img src="images/c3.jpg"> 
      <<div class="caption center-align">
        <h3 class="light blue-grey-text text-darken-3">Enjoy the care</h3>
        <h5 class="light blue-grey-text text-darken-3">The care professional will come to you as scheduled. Afterwards make sure to give your care professional a review.</h5>
      </div>
    </li>
    <li>
      <img src="images/c4.png"> 
      <d<div class="caption center-align">
        <h3 class="light white blue-text text-darken-2">Profit from real time analytics</h3>
        <h5 class="light white blue-text text-darken-2">We are going to analyze your data for you. The insights we gain are usually eye-opening. You are the data owner, so share or delete as you wish. </h5>
      </div>
    </li>
  </ul>
  </div>
  <div class="buttons-wrapper">
  <div class="row center">
    <a href="/signup" class="waves-effect blue waves-light btn hoverable mg-rg">Join now</a>
  </div>
</div>

  </div>
    
</div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">star</i></h2>
            <h5 class="center">Reliable personal</h5>

            <p class="light">We know how important it is to get the best people for the job. Thanks to our rating system you will have unfiltered access to the voice of other patients. Because nothing is as important as the health of your loved ones.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">content_paste</i></h2>
            <h5 class="center">Transparency</h5>

            <p class="light">Care Network is much more than a search engine. As a platform, we prioritize the information needs of the patients, enabling seamless information sharing among the patient, loved ones, the care personal and even doctors. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">accessibility</i></h2>
            <h5 class="center">Easy to use</h5>

            <p class="light">Our application is used by people from all age ranges. This is why accessibility is so important to us. A simple, intuitive interface means that you will understand the functions right away, letting you focus on what really matters.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>


  <footer class="page-footer light-blue">
  <div class="container light-blue">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Are you hiring?</h5>
        <span class="grey-text text-lighten-4">Get in touch and send me an </span><a class="grey-text text-lighten-1" href="mailto:manuel.rojas.soto@gmail.com">e-mail.</a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/manuelrs/project-beta">The code @Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/manuel-rojas/">My linkedIn profile</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    2018 Manuel Rojas 
    <a class="grey-text text-lighten-4 right" >Try as a patient: username and password: patient</a>
    </div>
  </div>
</footer>

<style>
.slider .indicators .indicator-item.active {
  background-color: #03a9f4;
}

.buttons-wrapper {
  position: absolute;
  height: calc(100vh);
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 997;
  top: 0;
  pointer-events: none;
  width: 100%;
}
.buttons-wrapper a {
  pointer-events: auto;
}
.mg-rg {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

</style>
