
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">Care network</h1>
      <div class="row center">
        <h5 class="header col s12 light">A single stop solution for all your care needs</h5>
      </div>
      <div class="row center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light blue">Join us!</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">star</i></h2>
            <h5 class="center">Reliable personal</h5>

            <p class="light">We know how important it is to get the best people for the job. Thanks to our rating system you will have unfiltered access to the voice of other patients. Because nothing is as important as the health of your loved ones.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">content_paste</i></h2>
            <h5 class="center">Transparency</h5>

            <p class="light">Care Network is much more than a search engine. As a platform, we prioritize the information needs of the patients, enabling seamless information sharing among the patient, loved ones, the care personal and even doctors. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">accessibility</i></h2>
            <h5 class="center">Easy to use</h5>

            <p class="light">Our application is used by people from all age ranges. This is why accessibility is so important to us. A simple, intuitive interface means that you will understand the functions right away, letting you focus on what really matters.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
