<h6>Are you sure you want to decline? Please see the details:</h6>
<span>Patient: <%= service.careTaker.name %></span>
<form method="POST" action="/services/<%= service._id %>/decline/final">

  <button>Decline</button>
</form>