<%
var a = patientCard;
console.log("now " + a.patientInfo[0].heartRate);
for (var i = 0; i < patientCard.patientInfo.length; i++) {
  for (var j = 0; j < Object.keys(patientCard.patientInfo[0]).length; j++) {
    //until here
  }
}

%>
<p>Patient history:</p>
