<%
const heartRates = [];
const oxigenation = [];
const mood = [];
const medicament1 = [];
const medicament2 = [];
const medicament3 = [];
const medicament4 = [];
const medicament5 = [];
const comments = [];

for (var i = 0; i < patientCard.patientInfo.length; i++) {
    heartRates.push(patientCard.patientInfo[i].heartRate);
    oxigenation.push(patientCard.patientInfo[i].oxigenation);
    medicament1.push(patientCard.patientInfo[i].medicament1);
    medicament2.push(patientCard.patientInfo[i].medicament2);
    medicament3.push(patientCard.patientInfo[i].medicament4);
    medicament4.push(patientCard.patientInfo[i].medicament5);
    medicament5.push(patientCard.patientInfo[i].medicament6);
    comments.push(patientCard.patientInfo[i].comments);
}

%>
<p>Patient history:</p>
