<style>
.chartWrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

</style>

<%var heartRateValues = [];

patientCard[0].patientInfo.forEach(info => {
  heartRateValues.push(info.heartRate);
});


%>


<script>



    var heartRates = {
      labels: [1,2,3,4,5,6,7,8,9,10],
        datasets: [{ 
            data: [80,83,82,82,87,96,82,110,111,104],
            label: "Heart rate (bpm)",
            borderColor: "#2AB8AA",
            fill: false
          }
        ]
      };

      var oxigenation = {
        labels: [1,2,3,4,5,6,7,8,9,10],
          datasets: [{ 
              data: [86,83,82,82,87,55,60,88,60,72],
              label: "Oxigenation (%)",
              borderColor: "#29B6F6",
              fill: false
            }
          ]
        };
</script>

<% if(user.role ==="careTaker") { %>
<h5>Patient overview:</h5>
<div class="section"></div>
  <div class="row">
    <div class="col s12 m6 l6">
      <canvas width="500" id="myChart1" ></canvas>
    </div>
    <div class="col s12 m6 l6">
      <canvas width="500" id="myChart2" ></canvas>
    </div>
  </div>
</div>

<h5>Comments:</h5>

<% if(patientCard[0].patientInfo !== undefined) {%>
<% patientCard[0].patientInfo.forEach((info) => { %>
<%if(info) {%>
<div class="row">
<div class="col s2 m2 l1">
    <img style ="border-radius: 50%;" src="<%= info.careGiverPictures[0] %>" height="50"> 
  </div>
  <div class="col s10 m10 l11">
    <%= info.careGiver %> wrote on <%= moment(info.date).format("LL")%>: <br>  <%= info.comments %> <br>
    </div>
    </div>
    <%}%>
  <% })%>
  <% } %>

<%} else {%>
<h5>Your patients:</h5>
<%}%>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
<script src="/javascripts/myChart.js"></script> 
